# Ignore large media files
*.mp4
*.avi
*.mov

# Ignore Python virtual environments
pro/
venv/
env/
__pycache__/
*.pyc

# Ignore large Torch library files
*.dylib
*.so

# Ignore temporary folders
.DS_Store
*.log


